<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Document</title>
</head>
<body>
   {% if messages %}
      {% for message in messages %}
         <h3>{{message}}</h3>
      {% endfor %}
   {% endif %}

   <h1>Usernames Entered:</h1>
   <table>
      <tr>
         <th><strong>Email</strong></th>
         <th><strong>Date and Time</strong></th>
      </tr>
      {% for user in users %}
         <tr>
            <td>{{user.username}}</td>
            <td>{{user.created_at}}</td>
         </tr>
      {% endfor %}
   </table>
</body>
</html>
