html,body{
   height: 100%;
}
nav{
   background-color: #f4f2e9;
}
#index{
   background-image: url("/static/belt_reviewer/images/indexImage1.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   width: 100%;
   height: 520px;
}
#indexRegister{
   color: white;
   text-shadow: 2px 2px 5px #000000;
}
#indexRegister .col-8 h1{
   font-size: 80px;
   margin-top: 10%;
}
#indexRegister form{
   line-height: 0.5;
}
footer{
   background: #f4f1ea;
}
