<html>
<head>
  <title>Login and Registration</title>
</head>
<body>
  <h1>Coding Dojo</h1>
  <h2>Login:</h2>
  <form action='/login_a' method='POST'>
    <label for="username">Username:<input type="text" name="username" id="username"></label>
    <label for="password">Password:<input type="text" name="password" id="password"></label>
    <input type='submit' value='Login'/>
  </form>
    <br>
  <form action="/register" method="POST" >
    <h2>Sign Up:</h2>
    <label for="first_name">First Name:<input type="text" name="first_name" id="first_name"></label>
    <label for="last_name">Last Name:<input type="text" name="last_name" id="last_name"></label>
    <label for="username">Username:<input type='text' name='username' id='username'/></label>
    <label for="password">Password:<input type="text" name="password" id="password"></label>
    <label for="confirm_password">Password Confrimation:<input type="text" name="confirm_password" id="confirm_password"></label>
    <input type='submit' value='Create Account'/>
  </form>
</body>
</html>
