<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Secrets</title>
   </head>
   <body>
      <h1>Most Popular Secrets:</h1>
      <a href='/success'>Back</a>
      <br>
      <hr>
      {% for secret in secrets %}
         {{secret.content}} ({{secret.created_at}})

         {% if secret.num_likes == 1 %}
            {{secret.num_likes}} Like
         {% elif secret.num_likes > 1 %}
            {{secret.num_likes}} Likes
         {% endif %}
         {% if user.id == secret.author.id %}
            <form action='/delete/{{secret.id}}' method='post'>
               {% csrf_token %}
               <input type='submit' value='Delete'>
            </form>
         {% endif %}
         <br>
         <hr>
      {% endfor %}
   </body>
</html>
